*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
}

body{
    background: linear-gradient(90deg, #3a31db 0%,#60a495 35%,#cdf00c 100% );
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}
.asosiy{
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 10px solid blue;
    position: relative;
}
 .raqam {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 2rem;
}

.raqam1{
    --rotation: 30deg;
}
.raqam2{
    --rotation: 60deg;
}
.raqam3{
    --rotation: 90deg;
}
.raqam4{
    --rotation: 120deg;
}
.raqam5{
    --rotation: 150deg;
}
.raqam6{
    --rotation: 180deg;
}
.raqam7{
    --rotation: 210deg;
}
.raqam8{
    --rotation: 240deg;
}
.raqam9{
    --rotation: 270deg;
}
.raqam10{
    --rotation: 300deg;
}
.raqam11{
    --rotation: 330deg;
}

.mil{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 10px;
    height: 148px;
    background-color: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%)rotate(calc(var(--rotation) * 1deg));
}

.asosiy::after{
    content: '';
    position: absolute;
    background-color: #000000;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 47%;
    left: 48%;
    transform: translate(-50% -50%);
    border-radius: 50%;
}

.mil.sekund{
    width: 5px;
    height: 45%;
    background-color: #ff0000;
    border: 1px solid #ffffff;
}
.mil.minut{
    width: 8px;
    height: 42%;
    background-color: #0015ff;
    border: 1px solid #000000;
}
.mil.soat{
    width: 12px;
    height: 38%;
    background-color: #1d0181;
    border: 1px solid #000000;
}